<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>RoundedTable</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>RoundedTable.png</string>
      <key>label</key>
      <string>RoundedTable</string>
    </dict>
    <key>items</key>
    <array>
    <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>defaults</key>
        <string>com.PS.RoundedTable</string>
        <key>key</key>
        <string>enabled</string>
        <key>label</key>
        <string>Enabled</string>
        <key>PostNotification</key>
        <string>com.PS.RoundedTable/ReloadPrefs</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <false/>
        <key>defaults</key>
        <string>com.PS.RoundedTable</string>
        <key>key</key>
        <string>force</string>
        <key>label</key>
        <string>Force</string>
        <key>PostNotification</key>
        <string>com.PS.RoundedTable/ReloadPrefs</string>
      </dict>
      <dict>
      	<key>cell</key>
      	<string>PSGroupCell</string>
      	<key>label</key>
		<string>Margins</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>RTSliderTableCell</string>
			<key>default</key>
			<real>16.0</real>
			<key>defaults</key>
			<string>com.PS.RoundedTable</string>
			<key>key</key>
			<string>inset</string>
			<key>max</key>
			<real>80.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>PostNotification</key>
        	<string>com.PS.RoundedTable/ReloadPrefs</string>
		</dict>
		<dict>
      	<key>cell</key>
      	<string>PSGroupCell</string>
      	<key>label</key>
		<string>Corner radius</string>
      </dict>
      <dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>RTSliderTableCell</string>
			<key>default</key>
			<real>2.5</real>
			<key>defaults</key>
			<string>com.PS.RoundedTable</string>
			<key>key</key>
			<string>radius</string>
			<key>max</key>
			<real>20.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>PostNotification</key>
       		<string>com.PS.RoundedTable/ReloadPrefs</string>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Enabled Applications</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.PS.RoundedTable.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>RTEnabled-</string>
			<key>ALChangeNotification</key>
			<string>com.PS.RoundedTable/ReloadPrefs</string>
			<key>ALSettingsDefaultValue</key>
			<true/>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>(isSystemApplication = TRUE) AND NOT (bundleIdentifier in {'com.apple.CloudKit.ShareBear', 'com.apple.social.SLGoogleAuth'})</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<integer>29</integer>
					<key>suppress-hidden-apps</key>
					<true/>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>(isSystemApplication = FALSE)</string>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<integer>29</integer>
					<key>suppress-hidden-apps</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>label</key>
      		<string>Reset Settings (Tap twice)</string>
      		<key>action</key>
      		<string>reset:</string>
      </dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      		<key>label</key>
      		<string>Developer</string>
      		<key>footerAlignment</key>
		<integer>1</integer>
		<key>footerText</key>
		<string>© 2016 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
      <dict>
    	<key>big</key>
    	<true/>
    	<key>cellClass</key>
		<string>HBTwitterCell</string>
		<key>height</key>
		<integer>60</integer>
		<key>label</key>
		<string>PoomSmart</string>
		<key>user</key>
		<string>PoomSmart</string>
	</dict>
      <dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Donate ❤️</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>url</key>
			<string>http://poomsmartios.blogspot.com/2015/08/donation.html</string>
		</dict>
    </array>
  </dict>
</plist>
